*{
    box-sizing: border-box;
}

.parent{
    width:100%;
    float:center;
}

.header{
    text-align:center;
    background-color: rgb(243,67,52);
    color:white;
    padding:10px;
}

.left{
    width: 20%;
    height:700px;
    background-color: rgb(63,81,181);
    float:left;
}

.center{
    width: 60%;
    height:700px;
    background-color: rgb(76,176,80);
    float:left;
}

.right{
    width: 20%;
    height:700px;
    background-color: rgb(254,153,0);
    float:left;
    padding-left: 20px;
}

.footer{
    text-align: center;
    background-color:rgb(0,188,213);
    color:white;
    padding: 20px;
}

.vertical{
    list-style-type: none;
    margin:0;
    margin-top: 20px;
    padding:10px;
    width:200px;
    position:sticky;
    overflow:auto;
    height:100%;
}

li a.verticalnav{
    display:block;
    color:black;
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: larger;
}

li a.verticalnav:hover{
    background-color: white;
}

.active{
    background-color: white;
}

@media screen and (max-width:1000px)
{
    iframe{
        height:80px;
        width:80px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(139, 0, 139);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
}
p{
    font-size: 12px;
}
img{
    display: none;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:800px)
{
    iframe{
        height:100px;
        width:100px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(0, 139, 7);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
}
p{
    font-size: 10px;
}
.media{
    display:none;
}
img{
    display: none;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:600px)
{
    iframe{
        height:50px;
        width:50px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(139, 0, 0);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 8px;
}
p{
    font-size: 8px;
}
.media{
    display:none;
}
img{
    display: none;
}
.ul_media{
    display:none;
}
}