*{
    box-sizing: border-box;
}

.parent{
    width:100%;
    float:center;
}

.header{
    text-align:center;
    background-color: rgb(243,67,52);
    color:white;
    padding:10px;
}

.left{
    width: 20%;
    height:750px;
    background-color: rgb(63,81,181);
    float:left;
}

.center{
    width: 60%;
    height:750px;
    background-color: rgb(76,176,80);
    float:left;
}

.right{
    width: 20%;
    height:750px;
    background-color: rgb(254,153,0);
    float:left;
    padding: 20px;
}

.footer{
    text-align: center;
    background-color:rgb(0,188,213);
    color:white;
    padding: 20px;
}

.vertical{
    list-style-type: none;
    margin:0;
    margin-top: 20px;
    padding:10px;
    width:200px;
    position:sticky;
    overflow:auto;
    height:100%;
}

li a.verticalnav{
    display:block;
    color:black;
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: larger;
}

li a.verticalnav:hover{
    background-color: white;
}

.active{
    background-color: white;
}

@media screen and (max-width:1600px)
{
    iframe{
        height:160px;
        width:160px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(7, 14, 8);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 24px;
}
p{
    font-size: 20px;
}
img{
    height:50px;
    width: 30px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:1400px)
{
    iframe{
        height:140px;
        width:140px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(226, 224, 237);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
}
p{
    font-size: 18px;
}
img{
    height:50px;
    width: 30px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:1200px)
{
    iframe{
        height:90px;
        width:90px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(0, 139, 30);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
}
p{
    font-size: 16px;
}
img{
    height:50px;
    width: 30px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:1000px)
{
    iframe{
        height:80px;
        width:80px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(184, 19, 96);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
}
p{
    font-size: 14px;
}
img{
    height:50px;
    width: 30px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:800px)
{
    iframe{
        height:60px;
        width:60px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(211, 212, 217);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
}
p{
    font-size: 12px;
}
img{
    height:50px;
    width: 30px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:600px)
{
    iframe{
        height:50px;
        width:50px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(199, 124, 38);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 14px;
}
p{
    font-size: 10px;
}
img{
    height:40px;
    width: 40px;
}
.ul_media{
    display:none;
}
}

@media screen and (max-width:400px)
{
    iframe{
        height:40px;
        width:40px;
    }
    li a.verticalnav{
    display:block;
    color:rgb(196, 75, 15);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
}
p{
    font-size: 6px;
}
img{
    height:20px;
    width: 20px;
}
.ul_media{
    display:none;
}
}


.slider{
    width:100%;
    height: 300px;
    align-content: center;
    background:url(PIC1.webp);
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url(stadium.jpg);
    }
    50%{
        background: url(virat.jpg);
    }
    75%{
        background: url(stadium.jpg);
    }
    100%{
        background: url(PIC1.webp);
    }
}

p::first-letter{
    color:red;
    font-size: 25px;
    font-weight: bold;
}

.transition{
    width:100px;
    height:100px;
    transition: width 2s,height 2s, transform 1s;
}
.transition:hover{
    width:300px;
    height:200px;
    transform:rotate(360deg);
}